absl-py==0.7.1
actionlib==1.12.0
angles==1.9.11
astor==0.8.0
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
base-local-planner==1.16.2
camera-calibration-parsers==1.11.13
catkin==0.7.17
catkin-pkg==0.4.19
certifi==2019.11.28
controller-manager==0.15.1
controller-manager-msgs==0.15.1
cv-bridge==1.13.0
cycler==0.10.0
defusedxml==0.6.0
diagnostic-updater==1.9.3
distro==1.4.0
docutils==0.16
dynamic-reconfigure==1.6.0
enum34==1.1.6
funcsigs==1.0.2
future==0.18.2
futures==3.3.0
gast==0.2.2
gencpp==0.6.2
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.12
gennodejs==2.0.1
genpy==0.6.8
google-pasta==0.1.7
grpcio==1.23.0
h5py==2.9.0
image-geometry==1.13.0
interactive-markers==1.11.4
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
laser-geometry==1.6.4
linecache2==1.0.0
Markdown==3.1.1
matplotlib==2.2.4
message-filters==1.14.3
mock==3.0.5
netifaces==0.10.9
numpy==1.16.5
opt-einsum==0+untagged.32.g31919b8
pbr==5.4.2
protobuf==3.9.1
py-trees==0.6.8
pyparsing==2.4.2
pyqtgraph==0.10.0
python-dateutil==2.8.0
python-qt-binding==0.3.5
pytz==2019.2
PyYAML==5.1.2
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
resource-retriever==1.12.5
rosbag==1.14.3
rosclean==1.14.6
rosgraph==1.14.3
roslaunch==1.14.3
roslib==1.14.6
roslz4==1.14.3
rosmaster==1.14.3
rosmsg==1.14.3
rosnode==1.14.3
rosparam==1.14.3
rospkg==1.2.6
rospy==1.14.3
rosserial-arduino==0.8.0
rosserial-client==0.8.0
rosserial-python==0.8.0
rosservice==1.14.3
rostest==1.14.3
rostopic==1.14.3
rosunit==1.14.6
roswtf==1.14.3
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-controller-manager==0.15.1
rqt-dep==0.4.9
rqt-ez-publisher==0.5.0
rqt-graph==0.4.10
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-joint-trajectory-controller==0.15.0
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-multiplot==0.0.10
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-py-trees==0.3.1
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.9
rqt-rotors==2.2.3
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.13.4
scipy==1.2.2
sensor-msgs==1.12.7
six==1.12.0
smclib==1.8.3
subprocess32==3.5.4
tensorboard==1.14.0
tensorflow==2.5.1
tensorflow-estimator==1.14.0
termcolor==1.1.0
tf==1.12.0
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.3
traceback2==1.4.0
turtlebot3-example==1.2.2
turtlebot3-teleop==1.2.2
unique-id==1.0.6
unittest2==1.1.0
virtualenv==16.7.7
Werkzeug==0.15.5
wrapt==1.11.2
xacro==1.13.3
